.gallery {
	position: relative;
}

.slider {
}

.controls {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
}

.buttonPrev,
.buttonNext {
	position: absolute;
	display: inline-block;
	top: 50%;
	transform: translateY(-50%);
	background: rgba(0,0,0, .4);
	cursor: pointer;
}

.buttonPrev {
	left: 0;
}
.buttonNext {
	right: 0;
}


.buttonIcon {
	content: '';
	display: inline-block;
	width: 25px;
	height: 25px;
	margin: 25px;
	border: 2px solid #aaa;
	cursor: pointer;
	transition: border-color .6s;
}

.buttonPrev .buttonIcon {
	border-right: none;
	border-top: none;
	margin-right: 20px;
	transform: rotate(45deg);
}
.buttonNext .buttonIcon {
	border-left: none;	
	border-top: none;
	margin-left: 20px;
	transform: rotate(-45deg);
}


.buttonIcon:before {
	content: '';
	display: block;
	position: absolute;
	top: 8px;
    width: 10px;
    height: 10px;
	border: 2px solid #aaa;

	transition: border-color .2s; 	
}

.buttonPrev .buttonIcon:before {
    left: 3px;
	border-right: none;
	border-top: none;
}
.buttonNext .buttonIcon:before {
	border-left: none;	
	border-top: none;
    right: 3px;
}

.buttonPrev .buttonIcon:hover,
.buttonNext .buttonIcon:hover {
	border-color: #fff;
}

.buttonPrev .buttonIcon:hover:before,
.buttonNext .buttonIcon:hover:before {
	border-color: #fff;
}





.slider {
	width: 100%;
	overflow: hidden;
}
.sliderTrack {
	display: table;
	position: relative;
	transition: transform .5s cubic-bezier(.55,0,.54,1);
}

.slide {
	display: table-cell;
	position: relative;
	width: 100%;

}
.image {
	width: 100%;
}
.caption {
	position: absolute;
	bottom: 0;
	width: 100%;
	padding: 1em;
	letter-spacing: .2em;
	background: rgba(0,0,0, .5);
	color: #eee;
}