.main {
  text-align: center;
  font-family: sans-serif;
}


.header {
  padding: 2em .5em 2em .5em;
}

.title {
  font-size: 3em;
  font-weight: 100;
  color: #444;
}

.nav {
  font-size: .8em;
  margin: .7em 0;
}
.button { 
	padding: .25em 1em;
	cursor: pointer;
	color: #888;
}

.button:hover {
	color: #000;
}

.gallerySection {
	width: 100%;
	max-width: 1400px;
	margin: auto;
}


@media screen and (min-width: 640px) {
	.header {
	  padding: 4em .5em 3em .5em;
	}
	.title {
	  font-size: 5em;
	}

	.nav {
	  font-size: 1em;
	  margin: .5em 0;
	}
	.button { 
		padding: .25em 1em;
	}

	.gallerySection {
		width: 90%;
	}
}