.main {
  text-align: center;
  font-family: sans-serif;
}


.header {
}

.title {
  padding: 1em .5em .25em .5em;
  font-size: 2em;
  font-weight: 100;
  color: #666;
}

.intro {
  font-size: large;
}

.gallerySection {
	width: 100%;
	max-width: 1400px;
	margin: auto;
}


@media screen and (min-width: 640px) {
	.title {
	  font-size: 5em;
	}

	.gallerySection {
		width: 90%;
	}
}